* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
width: 100%;
} 

 .image {
  position: relative;
   object-fit: contain;
   object-position: center;
}

.text {
  position: absolute;
  top: 50%;
  left: 20%;
  z-index: 1;
}

#container-1 {
  height: 450px; 
  width: 100%;
}

.parent {
    text-align: center;
  }
 
 .my-class {
  /* declarations */
  margin: 0 auto;
  text-size:10px;
}

.container-2 {
  padding-top: 20px;
  color: white;
  height: 500px; 
  width: 700px;
}

.column{
  float: left;
  width: 30%;
  padding: 10px;
  margin: 5px 5px 5px 5px; 
  border-radius: 1%;
  border:2px solid black;
 }
 
.container-3 {
  color: white;
  height: 400px; 
  width: 700px;
}

.container-4 {
  color: black;
  height: 400px; 
  width: 700px;
}

    /* Style the avatar container */
.avatar-container {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        margin: auto;
}

      /* Style the avatar image */
.avatar-img {
 width: 100%;
 }

.container-5 {
  color: white;
  height: 100px; 
  width: 700px;
}

#column {
  float: left;
  width: 45%;
  height: 100px;
  margin: 0 5px;
}
