* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* three equal columns that floats next to each other */
.column{
  float: left;
  width: 30%;
  padding: 10px;
  margin: 5px 5px 5px 5px; 
  border-radius: 1%;
  border:2px solid black;
 
 } 
 
 .column{
  float: left;
  width: 30%;
  padding: 10px;
  margin: 5px 5px 5px 5px; 
  border-radius: 1%;
  border:2px solid black;
  height: 500px;
 }
 
 
 /* putting image to background in header */
 
.container {
  position: relative;
  max-width: 800px; 
  margin: 0 auto;
}

.container .content {
  position: absolute; 
  Top : 50; 
  width: 100%; 
  padding: 20px; 
}


/* styling containers */
.container-1 {
  height: 550px; 
  width: 100%;
}

.container-2 {
  color: white;
  height: 550px; 
  width: 100%;
}

.container-3 {
  color: white;
  height: 400px; 
  width: 100%;
}

.container-4 {
  color: black;
  height: 900px; 
  width: 100%;
}

.container-5 {
  color: white;
  height: 100px; 
  width: 100%;
}


button {
	bottom:0;
  border-color: blue;
  color: blue;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
 } 
 
 
    /* Style the avatar container */
.avatar-container {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        margin: auto;
}

      /* Style the avatar image */
.avatar-img {
 width: 100%;
 }

     /* Mobile Styles */

@media only screen and (max-width: 400px) {
body {
background-color: #F09A9D; /* Red */
width: 100%;
}
}

/* Tablet Styles */

@media only screen and (min-width: 401px) and (max-width: 960px) {
	body {
 background-color: ; /* Yellow */
}
}

/* Desktop Styles */

@media only screen and (min-width: 961px) {
body {
background-color:; /* Blue */
}
}
